# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Java
target/
*.log
*.class
*.jar
*.war

# IDE
.idea/
*.iml

# OS
.DS_Store

# Env
.env